<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gustavo Sánchez</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <!-- Tarjeta central -->
    <div class="card">
        <!-- Logo -->
        <img src="/static/logo.webp" alt="Logo" class="logo">

        <!-- Nombre -->
        <h1 class="name">Gustavo <span class="highlight">Sánchez</span></h1>

        <!-- Técnico -->
        <p class="subtitle">técnico superior en la nube</p>

        <!-- Descripción -->
        <p class="description">
            Esto es un proyecto que aborda la creación de una app usando Python y el framework Flask,
            con el objetivo de conocer y manejar estas tecnologías. La aplicación Todo App permite gestionar tareas
            de forma sencilla y efectiva, almacenando, editando y eliminando elementos en una lista. Este proyecto es
            ideal para aprender sobre desarrollo web y gestión de bases de datos.
        </p>

        <!-- Botón -->
        <button id="todoAppBtn" class="todo-app-btn">Todo App</button>
    </div>

    <script>
        document.getElementById('todoAppBtn').addEventListener('click', function () {
            // Redirigir condicionalmente según autenticación
            fetch('/is_authenticated')
                .then(response => response.json())
                .then(data => {
                    if (data.is_authenticated) {
                        window.location.href = '/todo/';
                    } else {
                        window.location.href = '/auth/login';
                    }
                });
        });
    </script>
</body>

</html>